/* COLOR VARIABLES */
:root {
    --background-1: #FFFFFF;
    --background-2: #FEF5EF;
    --content: #2C2728;
    --pink-light: #FEEDEF;
    --pink: #FFB8C2;
    --cherry-light: #AA0A27;
    --cherry-dark: #74071B;
    --light-green: #DFE5BB;
    --green: #A8BD8D;
    --dark-green: #284602;
    --light-blue: #CBE7FF;
    --blue: #69B8FD;
    --dark-blue: #00447E;
}

/* BODY */
html {
    scroll-behavior: smooth;
}

html, body {
    font-family: "EB Garamond", serif;
}

/* Utility */

.rounded-48 {
    border-radius: 48px;
}

.font-family-italiana {
    font-family: "Italiana", serif;
}

/* UI */
.button-small {
    border: 2px solid;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    transition: background-color 0.3s;
}

.button-large {
    border: 2px solid;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 32px;
    transition: background-color 0.3s;
}

.vertical-divider {
    height: 80px;
    width: 1px;
}

@media screen and (min-width: 1024px) {
    .vertical-divider {
        height: 110px;
    }
}

section {
    scroll-margin-top: calc(64px + 16px);
}

@media screen and (min-width: 1024px) {
    section {
        scroll-margin-top: calc(92px + 24px);
    }
}

.input-text {
    background-color: var(--background-1);
    width: 100%;
    border: 1px solid var(--content);
    border-radius: 8px;
    min-height: 32px;
    padding: 8px;
}

input[type="radio"] {
    width: 24px;
    height: 24px;
}

/* TYPOGRAPHY */

h2 {
    font-size: 54px;
    line-height: 110%;
}

@media screen and (min-width: 1024px) {
    h2 {
        font-size: 96px;
    }
}

h4 {
 font-size: 28px;
}

@media screen and (min-width: 1024px) {
    h4 {
        font-size: 36px;
    }
}

.paragraph-1 {
    font-size: 20px;
    line-height: 120%;
}

@media screen and (min-width: 1024px) {
    .paragraph-1 {
        font-size: 28px;
    }
}

.paragraph-2 {
    font-size: 20px;
}

.caption {
    font-family: "Cormorant Garamond", serif;
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: 0%;
    font-variant: small-caps;
    text-transform: uppercase;
}

/* DESKTOP NAVIGATION */
.nav-desktop {
    background-color: var(--background-1);
}

.nav-item {
    padding: 8px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--content);
    position: relative;
}

.nav-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--content);
    transition: width 0.3s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item-rsvp {
    border-color: var(--cherry-light);
    color: var(--cherry-light);
    margin-top: 8px;
    line-height: 120%;
}

@media screen and (min-width: 1024px) {
    .nav-item-rsvp {
        margin-top: unset;
    }
}

.nav-item-rsvp:hover {
    background-color: var(--pink-light);
}

/* MOBILE NAVIGATION */
.nav-mobile-header {
    background-color: var(--background-1);
}

.nav-mobile {
    background-color: var(--background-1);
}

.nav-mobile-actions {
    border-bottom: 1px solid var(--content);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/* HERO */
.hero {
    background: transparent url("../media/hero-mobile.webp") center center / cover no-repeat;
    height: calc(100vh - 64px - 16px);
}

@media screen and (min-width: 1024px) {
   .hero {
        height: calc(100vh - 92px - 24px);
        background-image: url("../media/hero-desktop.webp");
    }
}

.hero h1 {
    font-size: 80px;
    line-height: 100%;
    color: var(--background-1);
    max-width: 250px;
}

@media screen and (min-width: 1024px) {
   .hero h1 {
        font-size: 206px;
        line-height: 250px;
        max-width: unset;
    }
}

/* DETTAGLI */

.dettagli {
    background-color: var(--pink-light);
    width: 100%;

}

@media screen and (min-width: 1024px) {
   .dettagli {
        width: 50%;
   }
}

.dettagli-img {
    background: transparent url("../media/cherries-pink.webp") center center / cover no-repeat;
    width: 100%;
    min-height: 400px;
}

@media screen and (min-width: 1024px) {
   .dettagli-img {
        width: 50%;
        min-height: 765px;
   }
}

/* DETTAGLI */

.dettagli {
    background-color: var(--pink-light);
    width: 100%;

}

@media screen and (min-width: 1024px) {
   .dettagli {
        width: 50%;
   }
}

.dettagli-img {
    background: transparent url("../media/cherries-pink.webp") center center / cover no-repeat;
    width: 100%;
    min-height: 400px;
}

@media screen and (min-width: 1024px) {
   .dettagli-img {
        width: 50%;
        min-height: 765px;
   }
}

/* RSVP SECTION */

.cherries-green {
    background: transparent url("../media/cherries-green.webp") center center / cover no-repeat;
    width: 66%;
    min-height: 527px;
}

.rsvp-img {
    background: transparent url("../media/RSVP_Section.webp") center center / cover no-repeat;
    width: 33%;
    min-height: 527px;
}


/* REGALO NOZZE */

.regalo-nozze {
    background-color: var(--light-blue);
    width: 100%;

}

@media screen and (min-width: 1024px) {
   .regalo-nozze {
        width: 50%;
   }
}

.regalo-nozze-img {
    background: transparent url("../media/giappone.webp") center center / cover no-repeat;
    width: 100%;
    min-height: 400px;
}

@media screen and (min-width: 1024px) {
   .regalo-nozze-img {
        width: 50%;
        min-height: 765px;
   }
}

/* RSVP */

.rsvp-form-img {
    background: transparent url("../media/RSVP_Page.webp") center center / cover no-repeat;
    width: 50%;
    min-height: 400px;
}