/* COLOR VARIABLES */
:root {
    --background-1: #FFFFFF;
    --background-2: #FEF5EF;
    --content: #2C2728;
    --pink-light: #FEEDEF;
    --pink: #FFB8C2;
    --cherry-light: #AA0A27;
    --cherry-dark: #74071B;
    --light-green: #DFE5BB;
    --green: #A8BD8D;
    --dark-green: #284602;
    --light-blue: #CBE7FF;
    --blue: #69B8FD;
    --dark-blue: #00447E;
}

/* BODY */
body {
    font-family: "EB Garamond", serif;
    padding: 16px;
}

@media screen and (min-width: 1024px) {
    body {
        padding: 24px 32px;
    }
}

/* UI */
.button-small {
    border: 2px solid;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 20px;
    transition: background-color 0.3s;
}

/* DESKTOP NAVIGATION */
.nav-desktop {
    padding: 24px 32px;
    display: none;
}

@media screen and (min-width: 1024px) {
    .nav-desktop {
        display: flex;
    }
}

.nav-item {
    padding: 8px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--content);
    position: relative;
}

.nav-item::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--content);
    transition: width 0.3s;
}

.nav-item:hover::after {
    width: 100%;
}

.nav-item-rsvp {
    border-color: var(--cherry-light);
    color: var(--cherry-light);
    margin-top: 8px;
}

@media screen and (min-width: 1024px) {
    .nav-item-rsvp {
        margin-top: unset;
}
}

.nav-item-rsvp:hover {
    background-color: var(--pink-light);
}

/* MOBILE NAVIGATION */
.nav-mobile-header {
    display: flex;
}

@media screen and (min-width: 1024px) {
   .nav-mobile-header {
        display: none;
    }
}

.nav-mobile {
    background-color: var(--background-1);
}

.nav-mobile-actions {
    border-bottom: 1px solid var(--content);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}
